body {
     font-family: 'Roboto', sans-serif;
     color: #434455;
        font-size: 16px;
        leading-trim: NONE;
        line-height: 1.5;
        letter-spacing: 2%;
}
.main-title {
        font-weight: 700;
        font-style: Bold;
        font-size: 56px;
        leading-trim: NONE;
        line-height: 1.1;
        letter-spacing: 2%;
        text-align: center;
}
.section-features {
    background: #E7E9FC;
}
.section-team {
    background: #F4F4FD;
    }
.section-portfolio {
    background: #E7E9FC;
}
.section-features-title {
        font-weight: 700;
        font-style: Bold;
        font-size: 36px;
        leading-trim: NONE;
        line-height: 1.1;
        letter-spacing: 2%;
        text-align: center;
}
.section-team-title {
        font-weight: 700;
        font-style: Bold;
        font-size: 36px;
        leading-trim: NONE;
        line-height: 1.1;
        letter-spacing: 2%;
        text-align: center;
}
.section-features-list-item-title {
        font-weight: 500;
        font-style: Medium;
        font-size: 20px;
        leading-trim: NONE;
        line-height: 1.1;
        letter-spacing: 2%;
        text-align: center;
}
.section-features-list-item-text {
        font-size: 16px;
        leading-trim: NONE;
        line-height: 1.5;
        letter-spacing: 2%;
}
.section-team-title {
        font-weight: 700;
        font-style: Bold;
        font-size: 36px;
        leading-trim: NONE;
        line-height: 1.1;
        letter-spacing: 2%;
        text-align: center;
}
.section-team-list-item-title {
        font-weight: 500;
        font-style: Medium;
        font-size: 20px;
        leading-trim: NONE;
        line-height: 1.1;
        letter-spacing: 2%;
        text-align: center;
}
.section-team-list-item-text {
        font-size: 16px;
        leading-trim: NONE;
        line-height: 1.5;
        letter-spacing: 2%;
        text-align: center;
}
.section-portfolio-title {
        font-weight: 700;
        font-style: Bold;
        font-size: 36px;
        leading-trim: NONE;
        line-height: 1.1;
        letter-spacing: 2%;
        text-align: center;
}
.section-portfolio-list-item-title {
        font-weight: 500;
        font-style: Medium;
        font-size: 20px;
        leading-trim: NONE;
        line-height: 1.2;
        letter-spacing: 2%;
}
.section-portfolio-list-item-text {
        font-size: 16px;
        leading-trim: NONE;
        line-height: 1.5;
        letter-spacing: 2%;
}
.header {
    background: #E7E9FC;

}
.header-logo {
 font-family: Raleway;
    font-weight: 700;
    font-style: Bold;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 21px;
    letter-spacing: 3%;
    vertical-align: middle;
    text-transform: uppercase;
    color: #2E2F42;
}

.accent {
     font-family: Raleway;
        font-weight: 700;
        font-style: Bold;
        font-size: 18px;
        leading-trim: NONE;
        line-height: 1.2;
        letter-spacing: 3%;
        vertical-align: middle;
        text-transform: uppercase;
        color:#4D5AE5;
}
.main-button {
    background: #4D5AE5;
    color: #FFFFFF;
}
.main-button:hover,
.main-button:focus,
.main-button:active {
    color: #404BBF;
    cursor: pointer;
}
.header-address-link:hover,
.header-address-link:focus {
 color: #404BBF;
}
.section-main {
    background: #2E2F42;
}
.footer {
    background: #2E2F42;
}
.footer-logo {
    color: #F4F4FD;
}